
.coeffs-layout-table table {
    width: 320px;
    height: 320px;
    text-align: center;
    vertical-align: middle;
}

table.params ul {
    margin-block-start: 0.2em;
    margin-block-end: 0;
    padding-inline-start: 2em;
}

div.contents {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2em 2em;
    border: 1px solid rgb(10, 80, 122);
    /* background-color: #fff; */
}

:root {
    --shaded-bg-color: gray;
}

div.shade.A .A {
    background-color: var(--shaded-bg-color);
}
div.shade.H0 .H0 {
    background-color: var(--shaded-bg-color);
}
div.shade.H1 .H1 {
    background-color: var(--shaded-bg-color);
}
div.shade.H2 .H2 {
    background-color: var(--shaded-bg-color);
}
div.shade.H3 .H3 {
    background-color: var(--shaded-bg-color);
}

div.shade.V0 .V0 {
    background-color: var(--shaded-bg-color);
}
div.shade.V1 .V1 {
    background-color: var(--shaded-bg-color);
}
div.shade.V2 .V2 {
    background-color: var(--shaded-bg-color);
}
div.shade.V3 .V3 {
    background-color: var(--shaded-bg-color);
}

div.shade.D0 .D0 {
    background-color: var(--shaded-bg-color);
}
div.shade.D1 .D1 {
    background-color: var(--shaded-bg-color);
}
div.shade.D2 .D2 {
    background-color: var(--shaded-bg-color);
}
div.shade.D3 .D3 {
    background-color: var(--shaded-bg-color);
}



/* code {
    font-size: 85%;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    white-space: pre-wrap;
    padding: 1px 5px;
    background-color: rgb(223, 229, 241);
    vertical-align: baseline;
} */

div.fragment {
    padding: 3px;
    padding-bottom: 0px;
}

div.line {
    padding-bottom: 3px;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.image {
    padding: 2em;
}
.caption {
    padding-top: 0.5em;
}

.paramref.paramname {
    font-weight: bold;
}
